<!DOCTYPE html>
<html lang="en">
  <head>

    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'homepage.css' %}">
    
    <title>Responsive Navbar</title>

  </head>
  <header>
    <a href="HomePage" class="logo"><img src="" alt=""></a>
    <nav>
        <ul>
           <li>
                <a href="contactus"class="cta">Contact Us</a>
            </li>
            <li>
                <a href="submenu" class="cta">Menu</a>
            </li>
            <li>
                <a href="register"class="cta">Register</a>
            </li>
            <li>
                <a href="login" class="cta">Login</a>
            </li>
         
        <!-- <li><a href="logout" class="cta">Logout</a></li> -->
        </ul>
    </nav>
</header>
  <body>
</body>
</html>